<body>

  <div class="paler-background">
    <h1>
      Super short quiz time!
    </h1>
  
    <div>
      <p>I’m something that smells cheesy</p>
      <p>But I’m not a pair of socks</p>
      <p>I am a food that is sliced</p>
      <p>And delivered in a box</p>
    </div>
    
      <form #pizzaForm="ngForm" (ngSubmit)="validateInput(pizzaForm.value); pizzaForm.reset()">
        <label for="question">
          What am I?
        </label>
        <input
          id="question"
          type="text"
          ngModel
          #pizzaInput="ngModel"
          name="pizzaInput"
          style="text-transform: capitalize;"
          required
        >
        <button type="submit">Submit your answer</button>
      </form>
  
      <p [hidden]="correctAnswer" class="success">Correct!!</p>
      <p [hidden]="incorrectAnswer" class="danger">Incorrect, try again (hint- look at the background!)</p>
  </div>


</body>