
<body>
<h1>
  What is the weather?
</h1>

<div class="container">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title bold">{{ bristol?.city }}</h5>
        <p class="card-text">The temperature is <span class="big bold">{{ bristol?.temp }}&#176;C</span></p>
        <p>with</p>
        <p class="card-text"><span class="big bold">{{ bristol?.humidity }}&#37;</span> humidity </p>
        <p class="card-text"><span class="small">And a temperature range of </span> <span class="bold">{{ bristol?.minTemp }}&#176;C <span class="small">to</span> {{ bristol?.maxTemp }}&#176;C </span></p>
      </div>
    </div>
  
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title bold">{{ london?.city }}</h5>
          <p class="card-text">The temperature is <span class="big bold">{{ london?.temp }}&#176;C</span></p>
          <p>with</p>
          <p class="card-text"><span class="big bold">{{ london?.humidity }}&#37;</span> humidity </p>
          <p class="card-text"><span class="small">And a temperature range of </span> <span class="bold">{{ london?.minTemp }}&#176;C <span class="small">to</span> {{ london?.maxTemp }}&#176;C </span></p>
        </div>
      </div>
  
      <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title bold">{{ rome?.city }}</h5>
            <p class="card-text">The temperature is <span class="big bold">{{ rome?.temp }}&#176;C</span></p>
            <p>with</p>
            <p class="card-text"><span class="big bold">{{ rome?.humidity }}&#37;</span> humidity </p>
            <p class="card-text"><span class="small">And a temperature range of </span> <span class="bold">{{ rome?.minTemp }}&#176;C <span class="small">to</span> {{ rome?.maxTemp }}&#176;C </span></p>
          </div>
        </div>

</div>
  
</body>