@import "../../variables.scss";

body {
    background-image: url('../../assets/images/weather.jpg');
    background-size: cover;
    height: 100vh;
}

h1 {
    text-align: center;
    padding-top: 20px;
}

h5 {
    color: $primary-colour;
    font-style: oblique;
}

.card-body {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.card {
    border: solid 5px $secondary-colour;
}

.card-title {
    font-size: 1.7em;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;

    div {
        margin: 50px auto;
    }
}

.big {
    font-size: $text-lg;
}

.small {
    font-size: $text-md;
}

.bold {
    font-weight: bold;
}

@media (min-width: $tablet) {
    .container {
        flex-direction: row;
    }
}

// @media (min-width: $small-screen) {
// .container {
//     flex-direction: row;
// }
// }