<body>
  
    <h2>Create your ideal Borussia Mönchengladbach starting eleven </h2>
    

      <div class="container">

        <div class="goalies player-position">
          <h3>Goalies</h3>
          <ul *ngFor="let player of goalkeepers">
              <li>
                  <button [disabled]="goalkeepersFull" (click)="addGoalie(player.id)">Add</button>
                </li>
            <li>
              {{ player.name }}
            </li>

          </ul>
        </div>
  
        <div class="midfielders player-position">
            <h3>Midfielders</h3>
            <ul *ngFor="let player of midfielders">
                <li>
                    <button [disabled]="midfieldersFull" (click)="addMidfielder(player.id)">Add</button>
                  </li>
              <li>
                {{ player.name }}
              </li>
            </ul>
          </div>

      
      <div class="attackers player-position">
        <h3>Attackers</h3>
        <ul *ngFor="let player of attackers">
            <li>
                <button [disabled]="attackersFull" (click)="addAttacker(player.id)">Add</button>
              </li>
          <li>
            {{ player.name }}
          </li>
        </ul>
      </div>
    
      <div class="defenders player-position">
        <h3>Defenders</h3>
        <ul *ngFor="let player of defenders">
            <li>
                <button [disabled]="defendersFull" (click)="addDefender(player.id)">Add</button>
              </li>
          <li>
            {{ player.name }}
          </li>
        </ul>
      </div>
      
    <div class="chosen">
      <h2>Chosen players</h2>
      <ul>
          <li *ngIf="chosenGoalkeeper.length!==0" class="player-position">Goalie:</li>
          <li *ngFor="let player of chosenGoalkeeper">{{ player }} </li>
      
          <li *ngIf="chosenMidfielders.length!==0" class="player-position">Midfielders:</li>
          <li *ngFor="let player of chosenMidfielders">{{ player }} </li>
      
          <li *ngIf="chosenAttackers.length!==0" class="player-position">Attackers:</li>
          <li *ngFor="let player of chosenAttackers">{{ player }} </li>
      
          <li *ngIf="chosenDefenders.length!==0" class="player-position">Defenders:</li>
          <li *ngFor="let player of chosenDefenders">{{ player }} </li>
      </ul>
    </div>
    </div>

</body>