<nav class="navbar navbar-expand-sm navbar-light">
  <a class="navbar-brand nav-item" routerLink="/">App of random things</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/weather">Weather</a>
      <a class="nav-item nav-link" routerLink="/quiz">Quiz</a>
      <a class="nav-item nav-link" routerLink="/football">Football team</a>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>

