@import "../variables.scss";

.nav-link {
    color: rgba(255, 255, 255, 0.7) !important;
}

.nav-link:hover {
    color: white !important;
}

.navbar {
    background-color: $primary-colour;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-item {
    color: white;
}