// colours
$primary-colour: rgb(157, 36, 121);
$secondary-colour: rgba(157, 36, 121, 0.555);

// break points
$small-mobile: 320px;
$medium-mobile: 400px;
$tablet: 750px;
$small-screen: 1000px;

//text size
$text-sm: 0.7em;
$text-md: 0.9em;
$text-lg: 1.2em;
$text-xlg: 2em;