
<body>

    <div class="jumbotron jumbotron-fluid">
          <h1 class="display-4">Welcome</h1>
      </div>

  <div class="containerr">
    <div class="card weather" style="width: 18rem;" routerLink="/weather">
      <!-- <img class="card-img-top" src="../../assets/images/clouds.jpg" alt="Cloud and sun image"> -->
      <div class="card-body">
        <h5 class="card-title">Go find out what the weather is</h5>
      </div>
    </div>
  
    <div class="card quiz" style="width: 18rem;" routerLink="/quiz">
      <!-- <img class="card-img-top" src="../../assets/images/quiz.jpg" alt="quiz image"> -->
      <div class="card-body">
        <h5 class="card-title">Take our super speedy quiz</h5>
      </div>
    </div>
  
    <div class="card football" style="width: 18rem;" routerLink="/football">
      <!-- <img class="card-img-top" src="../../assets/images/football.jpg" alt="football image"> -->
      <div class="card-body">
        <h5 class="card-title">Make your fantasy football team</h5>
      </div>
    </div>
  </div>
  
</body>